body {
  background-image: url('../img/hello.gif');
  font-size: 40px;
  color: white;
  font-weight: bold;
  letter-spacing: 1vw;
}

button {
  height: 20vh;
  width: 50vw;
  font-size: 100px;
  font-weight: bold;
  color: white;
  border: 4px solid white;
  background-color: rgba(0, 0, 0, 0);
}

.emojis {
  position: absolute;
}

.emoji {
  position: absolute;
  animation-fill-mode: forwards;
}


@keyframes move {
  50% {
     transform: translate(2000px, 0);
  }
}
